.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
ProteinGenetics.Rproj

**/.DS_Store

DataSubmission/

BE02_GenomicAmpliconSeq/data/

BE04_CanavanineScreen/data/

BE19_GFPScreens/data/

BE21_FitnessScreen/data/

BE22_Proteomics/results/MaxQuant/
BE22_Proteomics/results/artMS/QC
BE22_Proteomics/artms_sessionInfo_analysisQuant.txt
BE22_Proteomics/artms_sessionInfo_quantification.txt
BE22_Proteomics/msstats.log
BE22_Proteomics/sessionInfo.txt
BE22_Proteomics/results/artMS/artMS_results-mss-normalized.txt

ExternalData/Provean/provean_scores.RDS
ExternalData/Stefely_NatBiotech_2016/41587_2016_BFnbt3683_MOESM21_ESM.xlsx
ExternalData/Reimand_NAR_2010/SuppTable1C_KOTargetGenes_Matrix_LogFoldChange_mod.txt
ExternalData/Reimand_NAR_2010/SuppTable1C_KOTargetGenes_Matrix_LogFoldChange.txt
ExternalData/Reimand_NAR_2010/SuppTable1B_KOTargetGenes_Matrix_PValue_mod.txt
ExternalData/Reimand_NAR_2010/SuppTable1B_KOTargetGenes_Matrix_PValue.txt
ExternalData/ODuibhir_MSB_2014/deleteome_all_mutants_svd_transformed.txt
ExternalData/Kemmeren_Cell_2014/deleteome_all_mutants_ex_wt_var_controls.txt
