.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
ProteinGenetics.Rproj

*.DS_Store

BE02_GenomicAmpliconSeq/data/

BE04_CanavanineScreen/data/

BE19_GFPScreens/data/

BE21_FitnessScreen/data/

BE22_Proteomics/results/MaxQuant/
BE22_Proteomics/results/artMS/QC
BE22_Proteomics/artms_sessionInfo_analysisQuant.txt
BE22_Proteomics/artms_sessionInfo_quantification.txt
BE22_Proteomics/msstats.log
BE22_Proteomics/sessionInfo.txt
BE22_Proteomics/results/artMS/artMS_results-mss-normalized.txt

ExternalData/Provean/provean_scores.RDS

ProteinGenetics_NotInGitHub/
